id: {{ apb_dict['apb-id'] }}
name: {{ apb_dict['apb-name'] }}
image: {{ apb_dict['organization'] }}/{{ apb_dict['apb-name'] }}
description: {{ apb_dict['description'] }}
bindable: {{ apb_dict['bindable'] }}
async: {{ apb_dict['async'] or 'optional' }}
metadata:{{ ' {}' if not apb_dict['metadata'] }}
  {% if apb_dict['metadata'] -%}
  displayName: {{ apb_dict['metadata']['displayName'] }}
  longDescription: {{ apb_dict['metadata']['longDescription'] }}
  imageUrl: {{ apb_dict['metadata']['imageUrl'] }}
  documentationUrl: {{ apb_dict['metadata']['documentationUrl'] }}
  dependencies:{{ ' []' if not dependencies }}
    {% for dep in dependencies -%}
    - {{ dep }}
    {% endfor %}{% endif %}
parameters:{{ ' []' if not params }}
  {% for param in params -%}
  - {{ param.keys()[0] or 'sample-name' }}:
      {% for pair in param.values()[0].keys() -%}{{ pair }}: {{ param[param.keys()[0]][pair] }}
      {% endfor %}
  {% endfor %}
required:{{ ' []' if not apb_dict['required'] }}
  {% for req in apb_dict['required'] -%}
  - {{ req }}
  {% endfor %}
